[submodule "libs/libtranslate"]
	path = libs/libtranslate
	url = https://github.com/tgckpg/libtranslate.git
[submodule "libs/libpenguin"]
	path = libs/libpenguin
	url = https://github.com/tgckpg/libpenguin.git
[submodule "libs/libwenku8"]
	path = libs/GR
	url = https://github.com/tgckpg/libwenku8.git
[submodule "libs/libtaotu"]
	path = libs/libtaotu
	url = https://github.com/tgckpg/libtaotu.git
[submodule "libs/libeburc"]
	path = libs/libeburc
	url = https://github.com/tgckpg/libeburc
